In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figeroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figeroa High School
Wilson High School
Wright High School

In [3]:
# A Dictionary of high schools and the type of school
high_school_types = [{"High School": "Griffin", "Type": "District"}, {"High School": "Figeroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"}, {"High School": "Wright", "Type": "Charter"}]
list(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figeroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [4]:
# List of High Schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

In [5]:
# Add the Pandas dependency
import pandas as pd

In [6]:
# Create a Pandas series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object